# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
magic-api-consulte/node_modules
magic-commander-brazil/node_modules

# production
magic-api-consulte/build
magic-commander-brazil/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
