#login-wapper{
    display: flex;
    width: 100%;
    min-height: 100%;
}

#login-magic-img{
    flex: 3;
    min-height: 100%;
    object-fit: cover;
}

#from-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100vh;
    padding: 10px;
    background-color: var(--w-color);
}

h1{
    text-align: center;
    margin-bottom: 10px;
    color: var(--p-color);
}

#form-create-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--w-color);
    padding: 5px;
    width: 100%;
    height: 200px;
}

#login-account{
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--w-color);
    margin: 2%;
    padding: 6px;
}

button{
    margin-top: 30px;
}

