#not-found-area{
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#not-found-area h1{
    display: flex;
    flex-direction: column;
    font-size: 3em;
}

#not-found-area span{
    margin: 40px;
    font-size: 4em;
    color: var(--p-color);
}